.navWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(246, 168, 35);
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: -30px;
        padding: 0;
        align-items: center;
        li {
            margin: 15px 15px;
            padding: 10px;
            a {
                text-decoration: none;
                color: inherit;
            }
            .activePage {
                color:white;
            }
        }
    }
}


button {
    background-color: rgb(5, 175, 193);
    width: 185px;
    padding: 10px;
    border: none;
    font-weight: bold;
}

