.navWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(246, 168, 35);
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        li {
            margin: 15px 15px;
            padding: 10px;
            text-transform: uppercase;
    }
}