.contactHeader {
    height: 400px;
    background-image: url(../assets/contact-image-1.jpg);
    background-repeat: no-repeat;
    position: relative;
    .headerWrapper {
        width: 80vw;
        margin: 0 auto;
    }
    h1 {
        position: absolute;
        bottom: -90px;
    }
}
main {
    background-color: rgb(240 239 237);
    .mainWrapper {
        width: 80vw;
        margin: 60px auto 100px auto;
        display: flex;
        flex-direction: row;
        .asideWrapper {
            padding: 20px 0 20px 30px;
            background-color: white;
            margin: 30px 30px 30px 0;
            .socialWrapper ul{
                display: flex;
                flex-direction: row;
                list-style: none;
                color: rgb(246, 168, 35);
                padding: 0;
                margin: 0;
                i {
                    padding: 10px;
                    font-size: 30px;
                }
            }
            .contactInfoWrapper {
                width: 350px;
                .contactEmail {
                    margin: 0;
                    font-weight: bold;
                }
                .contactAddress {
                    margin: 10px 0 20px;
                }
                }
            }
            .formWrapper{
                margin-top: 30px;
                display: flex;
                flex-wrap: wrap;
                .name {
                    width: 392.5px;
                    padding: 25px;
                    margin-right: 10px;
                    border: none;
                }
                .emailAddress {
                    width: 392.5px;
                    padding: 25px;
                    border: none;
                }
                .message {
                    width: 800px;
                    padding: 40px 25px;
                    margin: 20px 0px;
                    border: none;
                    resize: none;
                }
                button {
                    width: 800px;
                }
            }
        }

    display: flex;
    flex-direction: row;
    .formWrapper {
        display: flex;
        flex-direction: column;
    }
}