.navBar {
    .navWrapper {
        .home {
            color: white;
        }
        .contact {
            color: inherit;
        }

    }
}
.indexHeader {
    background-color: rgb(246, 168, 35);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 500px;
        position: relative;
        padding-top: 30px;
        .headerTextWrapper{
            img {
                position: absolute;
                display: flex;
                top: 60px;
                left: 125px;
            }
        }
        h1{
            text-transform: uppercase;
            position: absolute;
            font-size: 6rem;
            top: 50px;
            left: 200px;

        }
        .headerImageWrapper {
            img {
                width: 400px;
                position: absolute;
                left: 850px;
                box-shadow: 15px 15px white;
            }
        }
    }
    .mainPageContent{
        display: flex;
        flex-direction: column;
        .whoSophieContainer {
            background-color: rgb(240 239 237);
            padding: 25px 25px 70px;
            width: calc(100vw - 50px);
            .whoSophie {
                display: flex;
                flex-direction: column;
                width: 80vw;
                margin: 50px auto;
                h2 {
                    margin: 15px 0 0 0;
                }
                p {
                    margin: 30px 0 30px;
                    width: 80vw;
                   }
            }
        }
        .sFavContent {
            display: flex;
            flex-direction: row;
            padding-bottom: 30px;
            .sFavImgWrapper {
                width: 50vw;
                position: relative;
                height: 410px;
                margin-top: -25px;
                background-color: rgb(168 39 6);
                img {
                    width: 575px;
                    height: 400px;
                    position: absolute;
                    left: 124px;
                    bottom: 30px;
                    object-fit: cover;
                }
            }
            .sFavTextWrapper {
                width: 500px;
                margin: 50px auto;
            }
        }
        .sTravelled {
            display: flex;
            flex-direction: row;
            padding-bottom: 15px;
            .sTravTextWrapper {
                width: 500px;
                justify-content: right;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                position: relative;
                height: 300px;
                h3{
                    margin: 0;
                    text-align: end;
                }
                p {
                    text-align: end;
                }
                button {
                    position: absolute;
                    bottom: 10px;
                    right: 0;
                }
            }
            .sTravImgWrapper {
                width: 50vw;
                position: relative;
                height: 375px;
                margin-top: 20px;
                background-color: rgb(246 168 35);
                img {
                    width: 600px;
                    height: 450px;
                    position: absolute;
                    left: -15px;
                    bottom: -20px;
                    object-fit: contain;
                }
            }
        }
        .miniMenu{
            background-color: rgb(240 239 237);
            margin-top: -60px;
            .mMenuWrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                width: 90vw;
                margin: 0 auto;
                .mMenuPhoto {
                    position: relative;
                    flex-basis: 50%;
                    padding: 25px;
                    margin-top: 100px;
                    h4 {
                        padding-left: 50px;
                        margin-bottom: 0px;
                    }
                    p {
                        padding-left: 50px;
                    }
                }
                .mMenuAbout {
                    position: relative;
                    flex-basis: 50%;
                    padding: 25px;
                    margin-top: 100px;
                    h4 {
                        padding-left: 50px;
                        margin-bottom: 0px;
                    }
                    p {
                        padding-left: 50px;
                    }
                }
                .mMenuBlog{
                    position: relative;
                    flex-basis: 50%;
                    padding: 25px;
                    margin-bottom: 50px;
                    h4 {
                        padding-left: 50px;
                        margin-bottom: 0px;
                    }
                    p {
                        padding-left: 50px;
                    }
                }
                .mMenuContact{
                    position: relative;
                    flex-basis: 50%;
                    padding: 25px;
                    margin-bottom: 50px;
                    h4 {
                        padding-left: 50px;
                        margin-bottom: 0px;
                    }
                    p {
                        padding-left: 50px;
                    }
                }
                i {
                    background-color: rgb(246, 168, 35);
                    padding: 10px;
                    border-radius: 50%;
                    position: absolute;
                    top: 50px;
                }
            }
        }
        .breakerBackgroundImg {
            img {
                width: 100%;
                height: 405px;
                object-fit: fill;
                }
        }
        .sJourney{
            background-color: rgb(240 239 237);
            margin: -10px;
            width: calc(100vw - 20px);
            padding-top: 90px;
            padding-bottom: 75px;
            .sJourneyWrapper{
                width: 90vw;
                display: flex;
                flex-direction: row;
                margin: 0 auto;
                img {
                    width: 285px;
                    margin: 0 100px;
                    box-shadow: 15px 15px rgb(246, 168, 35);
                }
                h2 {
                    margin: 0;
                }
                p {
                    margin-right: 50px;
                }
            }
        }
        .gallery {
            .galleryWrapper ul{
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin: 80px 60px;
                padding: 0;
                li {
                    flex-basis: 30%;
                    margin: 10px;
                }
            }
        }
     } 
