navBar {
    ul:first-child {
        text-decoration: white;
    }
}
header {
    background-color: rgb(246, 168, 35);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 500px;
        position: relative;
        padding-top: 30px;
        .headerTextWrapper{
            img {
                position: absolute;
                display: flex;
                top: 80px;
                left: 125px;
            }
        }
        h1{
            text-transform: uppercase;
            position: absolute;
            top: 50px;
            left: 200px;

        }
        .headerImageWrapper {
            img {
                width: 400px;
                position: absolute;
                left: 850px;
                box-shadow: 15px 15px white;
            }
        }
    }
    .mainPageContent{
        display: flex;
        flex-direction: column;
        .whoSophie {
            display: flex;
            flex-direction: column;
            width: 1080px;
            margin: 50px auto;
            background-color: rgb(240 239 237);
            h2 {
                margin: 15px 0 0 0;
            }
            p {
                margin: 30px 0 30px;
                width: 900px;
            }
        }
    }