/*
@font-face {
    font-family: "Roboto";
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
    font-weight: 400;
}

@font-face {
    font-family: 'Lora', serif ;
    src: url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
    font-weight: bold;
} */

html {
    font-size: 125%;
}

body {
    font-family: $primaryFont;
    font-size: 1rem;
    color: $primaryFontColor;
}

h1 {
    font-family: $mainHeaderFont;
    font-size: 4rem;
    
}

