html {
    font-size: 125%;
}

.navWrapper li {
    font-family: $primaryFont;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 29px;
    letter-spacing: 1px;
}
.navWrapper li h1{
    font-family: $mainHeaderFont;
}
header h1 {
    font-family: $mainHeaderFont;
    font-size: 4rem;
    color: $primaryFontColor;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 92px;
    letter-spacing: 0px;
}

h2 {
    font-family: $primaryFont;
    font-size: 2.1rem;
    color: $primaryFontColor;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-family: $primaryFont;
    font-size: 1.6rem;
    color: $primaryFontColor;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h4 {
    font-family: $primaryFont;
    font-size: 1.2rem;
    color: $primaryFontColor;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-family: $primaryFont;
    font-size: 1rem;
    color: $primaryFontColor;
    line-height: 32px;
    letter-spacing: 1px;
}
form input, form textarea {
    font-family: $primaryFont;
    font-size: 1rem;
    font-style: italic;
} 

button {
    font-family: $primaryFont;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 32px;
    letter-spacing: 1px;
}
