/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@400;700&display=swap');

$mainHeaderFont: 'Lora', serif;
$primaryFont: 'Roboto', sans-serif;
$baseFontSize: 1rem;

$primaryFontColor: rgb(44, 44, 44);
$secondaryFontColor: rgb(246, 246, 246);
