@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Fonts*/
.navWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: rgb(246, 168, 35);
}
.navWrapper ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: -30px;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navWrapper ul li {
  margin: 15px 15px;
  padding: 10px;
}
.navWrapper ul li a {
  text-decoration: none;
  color: inherit;
}
.navWrapper ul li .activePage {
  color: white;
}

button {
  background-color: rgb(5, 175, 193);
  width: 185px;
  padding: 10px;
  border: none;
  font-weight: bold;
}

.navBar .navWrapper .home {
  color: white;
}
.navBar .navWrapper .contact {
  color: inherit;
}

.indexHeader {
  background-color: rgb(246, 168, 35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 500px;
  position: relative;
  padding-top: 30px;
}
.indexHeader .headerTextWrapper img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 60px;
  left: 125px;
}
.indexHeader h1 {
  text-transform: uppercase;
  position: absolute;
  font-size: 6rem;
  top: 50px;
  left: 200px;
}
.indexHeader .headerImageWrapper img {
  width: 400px;
  position: absolute;
  left: 850px;
  -webkit-box-shadow: 15px 15px white;
          box-shadow: 15px 15px white;
}

.mainPageContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainPageContent .whoSophieContainer {
  background-color: rgb(240, 239, 237);
  padding: 25px 25px 70px;
  width: calc(100vw - 50px);
}
.mainPageContent .whoSophieContainer .whoSophie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  margin: 50px auto;
}
.mainPageContent .whoSophieContainer .whoSophie h2 {
  margin: 15px 0 0 0;
}
.mainPageContent .whoSophieContainer .whoSophie p {
  margin: 30px 0 30px;
  width: 80vw;
}
.mainPageContent .whoSophieContainer .whoSophie div.trollImg img.jackieWhy {
  width: 250px;
}

.sFavContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 30px;
}
.sFavContent .sFavImgWrapper {
  width: 50vw;
  position: relative;
  height: 410px;
  margin-top: -25px;
  background-color: rgb(168, 39, 6);
}
.sFavContent .sFavImgWrapper img {
  width: 575px;
  height: 400px;
  position: absolute;
  left: 124px;
  bottom: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sFavContent .sFavTextWrapper {
  width: 500px;
  margin: 50px auto;
}

.sTravelled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 15px;
}
.sTravelled .sTravTextWrapper {
  width: 500px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 300px;
}
.sTravelled .sTravTextWrapper h3 {
  margin: 0;
  text-align: end;
}
.sTravelled .sTravTextWrapper p {
  text-align: end;
}
.sTravelled .sTravTextWrapper button {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.sTravelled .sTravImgWrapper {
  width: 50vw;
  position: relative;
  height: 375px;
  margin-top: 20px;
  background-color: rgb(246, 168, 35);
}
.sTravelled .sTravImgWrapper img {
  width: 600px;
  height: 450px;
  position: absolute;
  left: -15px;
  bottom: -20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.miniMenu {
  background-color: rgb(240, 239, 237);
  margin-top: -60px;
}
.miniMenu .mMenuWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90vw;
  margin: 0 auto;
}
.miniMenu .mMenuWrapper .mMenuPhoto {
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 25px;
  margin-top: 100px;
}
.miniMenu .mMenuWrapper .mMenuPhoto h4 {
  padding-left: 50px;
  margin-bottom: 0px;
}
.miniMenu .mMenuWrapper .mMenuPhoto p {
  padding-left: 50px;
}
.miniMenu .mMenuWrapper .mMenuAbout {
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 25px;
  margin-top: 100px;
}
.miniMenu .mMenuWrapper .mMenuAbout h4 {
  padding-left: 50px;
  margin-bottom: 0px;
}
.miniMenu .mMenuWrapper .mMenuAbout p {
  padding-left: 50px;
}
.miniMenu .mMenuWrapper .mMenuBlog {
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 25px;
  margin-bottom: 50px;
}
.miniMenu .mMenuWrapper .mMenuBlog h4 {
  padding-left: 50px;
  margin-bottom: 0px;
}
.miniMenu .mMenuWrapper .mMenuBlog p {
  padding-left: 50px;
}
.miniMenu .mMenuWrapper .mMenuContact {
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 25px;
  margin-bottom: 50px;
}
.miniMenu .mMenuWrapper .mMenuContact h4 {
  padding-left: 50px;
  margin-bottom: 0px;
}
.miniMenu .mMenuWrapper .mMenuContact p {
  padding-left: 50px;
}
.miniMenu .mMenuWrapper i {
  background-color: rgb(246, 168, 35);
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
}

.breakerBackgroundImg img {
  width: 100%;
  height: 405px;
  -o-object-fit: fill;
     object-fit: fill;
}

.sJourney {
  background-color: rgb(240, 239, 237);
  margin: -10px;
  width: calc(100vw - 20px);
  padding-top: 90px;
  padding-bottom: 75px;
}
.sJourney .sJourneyWrapper {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}
.sJourney .sJourneyWrapper img {
  width: 285px;
  margin: 0 100px;
  -webkit-box-shadow: 15px 15px rgb(246, 168, 35);
          box-shadow: 15px 15px rgb(246, 168, 35);
}
.sJourney .sJourneyWrapper h2 {
  margin: 0;
}
.sJourney .sJourneyWrapper p {
  margin-right: 50px;
}

.gallery .galleryWrapper ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 80px 60px;
  padding: 0;
}
.gallery .galleryWrapper ul li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 10px;
}
.gallery .galleryWrapper ul li #helloElmo {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  width: 400px;
}

.blogHeader {
  height: 400px;
  background-image: url(../assets/blog-image-1.jpg);
  background-repeat: no-repeat;
  position: relative;
}
.blogHeader .headerWrapper {
  width: 85vw;
  margin: 0 auto;
}
.blogHeader h1 {
  position: absolute;
  bottom: -90px;
}

.bContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85vw;
  margin: 100px auto;
}
.bContentWrapper .asideWrapper {
  margin-right: 20px;
}
.bContentWrapper .asideWrapper .aboutSophie {
  background-color: white;
  padding: 30px 35px;
}
.bContentWrapper .asideWrapper .aboutSophie h4 {
  margin: 20px 0 0 0;
}
.bContentWrapper .asideWrapper .aboutSophie p a {
  color: rgb(40, 94, 100);
  text-decoration: none;
  font-weight: bold;
}
.bContentWrapper .asideWrapper .recentPosts {
  background-color: white;
  margin-top: 30px;
  padding: 30px;
}
.bContentWrapper .asideWrapper .recentPosts h4 {
  margin: 0 0;
}
.bContentWrapper .asideWrapper .recentPosts ul {
  list-style: none;
  padding-left: 0px;
  margin: 20px 0 0 0;
}
.bContentWrapper .asideWrapper .recentPosts ul li::before {
  content: "•";
  color: rgb(246, 168, 35);
  padding: 5px 20px;
}

.bPostCommentWrapper {
  margin-left: 20px;
}
.bPostCommentWrapper .blogPost {
  background-color: white;
  padding: 45px 45px 20px 45px;
  border-bottom: 8px solid rgb(246, 168, 35);
}
.bPostCommentWrapper .blogPost h3 {
  margin: 0 0;
}
.bPostCommentWrapper .blogPost p .date {
  font-style: italic;
  letter-spacing: 0;
}
.bPostCommentWrapper .blogPost p .person {
  font-style: italic;
  font-weight: bold;
  color: rgb(40, 94, 100);
  letter-spacing: 0;
}
.bPostCommentWrapper .blogCommentSection {
  margin: 40px 0;
}
.bPostCommentWrapper .blogCommentSection .commentOne, .bPostCommentWrapper .blogCommentSection .commentTwo {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px 20px 40px 30px;
  margin-bottom: 25px;
}
.bPostCommentWrapper .blogCommentSection .commentOne img, .bPostCommentWrapper .blogCommentSection .commentTwo img {
  width: 150px;
  height: 100px;
  margin-right: 25px;
}
.bPostCommentWrapper .blogCommentSection .commentOne h4, .bPostCommentWrapper .blogCommentSection .commentTwo h4 {
  margin: 10px auto 0 auto;
  font-size: 1rem;
  font-style: italic;
  color: rgb(40, 94, 100);
  text-transform: capitalize;
}
.bPostCommentWrapper .blogCommentSection .commentOne p, .bPostCommentWrapper .blogCommentSection .commentTwo p {
  margin: 10px 0 20px 0;
  padding-right: 15px;
}
.bPostCommentWrapper .blogCommentSection .commentTwo {
  border-bottom: 8px solid rgb(246, 168, 35);
}

.formWrapper {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.formWrapper .name {
  width: 392.5px;
  padding: 25px;
  margin-right: 10px;
  border: none;
}
.formWrapper .emailAddress {
  width: 392.5px;
  padding: 25px;
  border: none;
}
.formWrapper .comment {
  width: 800px;
  padding: 40px 25px;
  margin: 20px 0px;
  border: none;
  resize: none;
}
.formWrapper button {
  width: 800px;
  font-weight: bold;
}

.navBar .navWrapper .home {
  color: inherit;
}
.navBar .navWrapper .contact {
  color: white;
}

.contactHeader {
  height: 400px;
  background-image: url(../assets/contact-image-1.jpg);
  background-repeat: no-repeat;
  position: relative;
}
.contactHeader .headerWrapper {
  width: 80vw;
  margin: 0 auto;
}
.contactHeader h1 {
  position: absolute;
  bottom: -90px;
}

main {
  background-color: rgb(240, 239, 237);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
main .mainWrapper {
  width: 80vw;
  margin: 60px auto 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
main .mainWrapper .asideWrapper {
  padding: 20px 0 20px 30px;
  background-color: white;
  margin: 30px 30px 30px 0;
}
main .mainWrapper .asideWrapper .socialWrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  color: rgb(246, 168, 35);
  padding: 0;
  margin: 0;
}
main .mainWrapper .asideWrapper .socialWrapper ul i {
  padding: 10px;
  font-size: 30px;
}
main .mainWrapper .asideWrapper .contactInfoWrapper {
  width: 350px;
}
main .mainWrapper .asideWrapper .contactInfoWrapper .contactEmail {
  margin: 0;
  font-weight: bold;
}
main .mainWrapper .asideWrapper .contactInfoWrapper .contactAddress {
  margin: 10px 0 20px;
}
main .mainWrapper .formWrapper {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .mainWrapper .formWrapper .name {
  width: 392.5px;
  padding: 25px;
  margin-right: 10px;
  border: none;
}
main .mainWrapper .formWrapper .emailAddress {
  width: 392.5px;
  padding: 25px;
  border: none;
}
main .mainWrapper .formWrapper .message {
  width: 800px;
  padding: 40px 25px;
  margin: 20px 0px;
  border: none;
  resize: none;
}
main .mainWrapper .formWrapper button {
  width: 800px;
}
main .formWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html {
  font-size: 125%;
}

.navWrapper li {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 29px;
  letter-spacing: 1px;
}

.navWrapper li h1 {
  font-family: "Lora", serif;
}

header h1 {
  font-family: "Lora", serif;
  font-size: 4rem;
  color: rgb(44, 44, 44);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 92px;
  letter-spacing: 0px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.1rem;
  color: rgb(44, 44, 44);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: rgb(44, 44, 44);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: rgb(44, 44, 44);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: rgb(44, 44, 44);
  line-height: 32px;
  letter-spacing: 1px;
}

form input, form textarea {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: italic;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
}

.recentPosts li {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: rgb(44, 44, 44);
  line-height: 32px;
  letter-spacing: 1px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(79, 79, 79);
}
footer p {
  color: rgb(240, 239, 237);
  margin: 5px;
}

@media (max-width: 320px) {
  .indexHeader .headerTextWrapper h1 {
    font-size: 3rem;
    left: 70px;
  }
  .indexHeader .headerTextWrapper img {
    width: 100px;
    top: 80px;
    left: 40px;
  }
  .indexHeader .headerImageWrapper img {
    width: 250px;
    left: 35px;
    bottom: -20px;
  }

  .mainPageContent .sFavContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainPageContent .sFavContent .sFavImgWrapper {
    width: 80vw;
    height: 155px;
  }
  .mainPageContent .sFavContent .sFavImgWrapper img {
    width: 250px;
    height: auto;
    top: -10px;
    left: 15px;
  }
  .mainPageContent .sFavContent .sFavTextWrapper {
    width: 80vw;
  }
  .mainPageContent .sFavContent .sFavTextWrapper h3 {
    margin: 0 auto;
  }
  .mainPageContent .sTravelled {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainPageContent .sTravelled .sTravTextWrapper {
    width: 80vw;
    height: auto;
  }
  .mainPageContent .sTravelled .sTravTextWrapper button {
    bottom: -35px;
  }
  .mainPageContent .sTravelled .sTravImgWrapper {
    width: 80vw;
    height: 155px;
    bottom: -35px;
  }
  .mainPageContent .sTravelled .sTravImgWrapper img {
    width: 250px;
    height: auto;
  }
}